.heading{
    font-family: "Roboto";
    font-size: 40px;
    color:red;
}
.java-container{
    background-image: url("https://img.freepik.com/free-photo/working-code_1098-19858.jpg?t=st=1648451888~exp=1648452488~hmac=915ebe760dc08785081c3ea0bc45049abab8c7eb6fa670591c319cdbb5797efe&w=1380");
    min-height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}
.buttonE{
    color:black;
    background-color:#00bfff;
    height: 40px;
    font-family: "Roboto";
    font-weight: 500;
    padding: 10px;
    font-size: 18px;
    border-width: 0px;
    border-radius: 5px;
}
